<section
  class="mx-auto flex h-full flex-col gap-6 overflow-y-auto overflow-x-hidden p-8 container-md">
  <h1 class="flex items-center gap-3">
    <span class="text-18 font-semibold">Comments</span>
    <app-tag [label]="notes.length" class="red" />
  </h1>

  <div class="flex w-full flex-col">
    @for (note of notes; track note.id) {
      <app-note [note]="note" />

      @for (reply of note.replies; track reply.id) {
        <app-note [isReply]="true" [note]="reply" class="reply" />
      }
    }
  </div>
</section>
