@let note_ = note();

<div class="left-line relative flex w-8 flex-1 shrink-0 flex-col items-center gap-3">
  <app-user-picture [name]="note_.createdBy"></app-user-picture>
</div>

<section class="flex w-full flex-col gap-1 pb-4">
  <header class="flex h-8 w-full items-center gap-3">
    <span class="font-semibold">{{ note_.createdBy }}</span>

    <span class="text-neutral-500 dark:text-neutral-200">{{ note_.createdAtFromNow }}</span>

    <app-tag
      [label]="note_.isPublic ? 'Public' : 'Private'"
      [ngClass]="note_.isPublic ? 'green' : 'red'" />
  </header>

  <span class="min-h-5 w-full">{{ note_.note }}</span>

  <footer class="flex w-full gap-3">
    <button class="flex items-center gap-1 rounded px-1 hover:bg-neutral-100">
      <ng-icon [name]="'tablerMessage'"></ng-icon>
      Reply
    </button>

    <button class="flex items-center gap-1 rounded px-1 hover:bg-neutral-100">
      <ng-icon [name]="'tablerDots'"></ng-icon>
    </button>
  </footer>
</section>
