@let note_ = note();

<div class="left-line relative flex w-8 flex-1 shrink-0 flex-col items-center gap-3">
  <app-user-picture [name]="note_.createdBy"></app-user-picture>
</div>

<section class="flex w-full flex-col gap-1 pb-4">
  <header class="flex h-8 w-full items-center gap-3">
    <span class="font-semibold">{{ note_.createdBy }}</span>

    <span class="text-neutral-500 dark:text-neutral-200">{{ note_.createdAtFromNow }}</span>

    <app-tag
      [label]="note_.isPublic ? 'Public' : 'Private'"
      [ngClass]="note_.isPublic ? 'tag-green' : 'tag-red'" />
  </header>

  <span class="min-h-5 w-full">{{ note_.note }}</span>

  <footer class="-ml-2 flex h-8 w-full items-center gap-1">
    <button icon="tablerMessage" class="button-light button-sm" label="Reply"></button>
    <button icon="tablerDots" class="button-light button-sm"></button>
  </footer>
</section>
